body{
  background-image: url("event2.jpg");
  background-size: cover;
  
}

.section {
  display: inline;
  align-content: center;
}

.title {
  color: white;
  text-align: center;
}

.city {
  text-align: center;
}*/


.topdiv{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}


#panel-heading{
  background-color: #f14668;
  color: #f14668;

}

.row{
  justify-content: center;
}

.pager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#events-panel {
  box-shadow: 4px 4px rgb(148, 140, 140);
}

#attraction-panel {
  box-shadow: 4px 4px rgb(170, 165, 165);
  color: white;
}

/* Logo (Top Left) */
#springLogo {
  color: #ffffff;
}

/* nav bar search bar*/
.field:not(:last-child) {
  margin-bottom: 0rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

#navBarSearch {
  width: 7rem;
}

@media only screen and (max-width: 1023px) {
  /* For mobile phones: */
  
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
     
  } 
  
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    max-width: max-content;
  }

  .navbar-end {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 0px;
  }

  .navbar-item {
    max-width: 5px;
  }

  .icon {
    color: white;
  }

  .navbar-brand {
    margin-right: 12rem;
  }

  .field:not(:last-child) {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
  }

  #springLogo {
    font-size: 36px;
    position: inherit;
    margin-right: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
}

