.section {
  display: inline;
  align-content: center;
}

/*.title {
  text-align: center;
  margin-top: -40px;
}

.city {
  text-align: center;
}*/


.topdiv{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}
/* 

.event-container {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 120px;
}

.column {
  margin: 0px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 225px;
  height: 200px;
  text-align: center;
  border-style: solid;
  align-content: flex-end;
  flex-wrap: wrap;
}

.card-content .title {
  align-self: center;
  font-size: medium;
}
 */


/* Logo (Top Left) */
#springLogo {
  color: #ffffff;
}

/* nav bar search bar*/
.field:not(:last-child) {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  margin-right: 1rem;
}