/*.title {
  align-items: center;
  text-align: center;
}

.city {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}

#cityTitle {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
  
}*/
body {
  background-image: url("restaurant.jpg");
  background-size: cover;
}

.title {
  color: white;
  text-align: center;
}

.topdiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
  z-index: 1000; 
  position: relative;
 
}

.dropdown.is-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 200px; */
  /* z-index: 1000;  */
  max-width: 300px;
  margin: 0 auto;
}

.dropdown-trigger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*overflow-y: scroll;*/
  height: auto; 
  margin-bottom: 0px;
}

.dropdown-item {
  cursor: pointer !important;
}

.dropdown-menu {
  display: none;
  /* position: absolute; */
  justify-content: center;
  overflow-y: auto;
  float: none;
  width: 100%;
   height: 200px; 
  /* z-index: 1000; */
}

.menu-active {
  display: flex;
}

.container {
  display: flex;
}

.sidebar {
  display: block;
  align-items: flex-start;
  border-style: solid;
  border-color: black;
}
.food_container {
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  margin-left: 65px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.mid-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-wrap: normal;
}

/* Logo (Top Left) */
#springLogo {
  color: #ffffff;
}

/* nav bar search bar*/
.field:not(:last-child) {
  margin-bottom: 0rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

#navBarSearch {
  width: 7rem;
}

.menu{
  overflow-y: scroll;
  max-height: 100px;
}


.restName {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */


  .food_container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
    
  }

}
