/*.title {
  align-items: center;
  text-align: center;
}

.city {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}

#cityTitle {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
  
}*/

.topdiv{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
 
  
}

.dropdown-item {
  cursor: pointer !important;
}

.container {
  display: flex;
}

.sidebar {
  display: block;
  align-items: flex-start;
  border-style: solid;
  border-color: black;
}
.food_container {
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  margin-left: 65px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.mid-page {
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: fit-content;
}
