/*.title {
  align-items: center;
  text-align: center;
}

.city {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}

#cityTitle {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
  
}*/

.topdiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.dropdown.is-active {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* width: 300px;
  height: 200px; */
  display: inline-block;
  position: auto;
  overflow-y: scroll;
}

.dropdown-item {
  cursor: pointer !important;
}

.container {
  display: flex;
}

.sidebar {
  display: block;
  align-items: flex-start;
  border-style: solid;
  border-color: black;
}
.food_container {
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  margin-left: 65px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.mid-page {
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-wrap: normal;
}

/* Logo (Top Left) */
#springLogo {
  color: #ffffff;
}

/* nav bar search bar*/
.field:not(:last-child) {
  margin-bottom: 0rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

#navBarSearch {
  width: 7rem;
}


.restName {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */


  .food_container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
    
  }

}
