.title{
    align-items: center;
    text-align: center;
    margin-top: -40px;
    
    
    
    
}

.city{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    padding-top: 10px;
    

}

.city-Name{
    text-align: center;
    align-content: center;
    margin-left: 400px;
    margin-bottom: 35px;
    
}

.container{
    display: flex;
}

.sidebar{
    display: block;
    align-items: flex-start;
    border-style: solid;
    border-color: black;
  
}
.food_container{
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}


.nav-container{
    display: flex;
    justify-content: space-around;


}

.mid-page{
    display: flex;
    
}

.food_container{
    margin-left: 65px;
}

