.title {
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.city {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
  padding-top: 10px;
}

/* Search Bar */
.field.has-addons {
  display: flex;
  justify-content: center;
}

/* Logo (Top Left) */
#springLogo {
  color: #ffffff;
}

/* nav bar search bar*/
.field:not(:last-child) {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  margin-right: 1rem;
}

#homeBar {
  width: 32rem;
}

#navBarSearch {
  width: 7rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */


  .container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
    
  }

}
