.title {
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.city {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
  padding-top: 10px;
}

/* Search Bar */
.field.has-addons {
  display: flex;
  justify-content: center;
}

/* Logo (Top Left) */
#springLogo {
  color: #ffffff;
}

/* nav bar search bar*/
.field:not(:last-child) {
  margin-bottom: 0rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

#homeBar {
  width: 32rem;
}

#navBarSearch {
  width: 7rem;
}
