.section .title{
    text-align: center;
    margin-top: -35px;

}

.topdiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
}

.container{
    align-self: center;
    max-width: fit-content;
    justify-self: center;
}

/* Logo (Top Left) */
#springLogo {
  color: #ffffff;
}

/* nav bar search bar*/
.field:not(:last-child) {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  margin-right: 1rem;
}